.customers-title, .team-title, .occupation-title {
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #212121;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

address {
  font-style: normal;
}

.flex {
  display: flex;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  outline: 1px dashed blue;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  margin-right: auto;
  margin-left: auto;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header-logo {
  margin-left: auto;
  margin-right: 93px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
}
@media (min-width: 768px) {
  .header-logo {
    font-size: 26px;
  }
}
.header-logo {
  color: #000000;
}
.header-list {
  align-items: center;
  gap: 50px;
  position: relative;
}
@media (max-width: 767px) {
  .header-list {
    display: none;
  }
}
.header-nav-link, .header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts-link {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 767px) {
  .header-contacts-link {
    display: none;
  }
}
@media (max-width: 1199px) {
  .header-contacts-link :nth-child(1) {
    margin-bottom: 10px;
  }
}
.header-nav-link.curent::after {
  content: "";
  background-color: #2196f3;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  display: block;
  margin-top: 28px;
  position: absolute;
}
.header-nav-link.curent {
  color: #2196f3;
}
.header-nav-link:hover, .header-contacts-link:hover, .header-nav-link:focus, .header-contacts-link:focus {
  color: #2196f3;
}
.header-contacts-link {
  color: #757575;
}
.header-nav-link {
  color: #212121;
}

.logo-designe {
  color: #2196f3;
}

.contacts-list {
  align-items: center;
  gap: 50px;
  margin-left: auto;
}
@media (max-width: 767px) {
  .contacts-list {
    display: none;
  }
}
@media (max-width: 1199px) {
  .contacts-list {
    display: block;
    align-items: center;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile-hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: #2f303a;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-hero-bg2x.jpg);
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: url("../images/tablet-hero-bg.jpg");
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-hero-bg2x.jpg);
  }
}
@media (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpg");
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-bg2x.jpg);
  }
}
.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 162%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 136%;
  }
}
.hero-btn {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: #5ab3fc;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  animation: bouncing 0.5s cubic-bezier(0.1, 0.25, 0.1, 1) 0s infinite alternate both;
}
@keyframes bouncing {
  0% {
    bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  100% {
    bottom: 30px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}
.features-header {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media (min-width: 768px) {
  .features .hero-list-child {
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .features .hero-list-child {
    width: 270px;
  }
}
.features .hero-list-child::before {
  display: block;
  content: "";
  background-image: url("../images/antenna.svg");
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.features .hero-list-child.anttenna::before {
  background-image: url("../images/antenna.svg");
}
.features .hero-list-child.clock::before {
  background-image: url("../images/clock.svg");
}
.features .hero-list-child.diagram::before {
  background-image: url("../images/diagram.svg");
}
.features .hero-list-child.astronaut::before {
  background-image: url("../images/astronaut.svg");
}

@media (min-width: 768px) {
  .hero-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .hero-list {
    flex-wrap: nowrap;
  }
}

.occupation-title {
  margin-bottom: 50px;
  font-size: 36px;
}

.occupation .hero-list-child {
  position: relative;
}

.occupation-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: rgba(47, 48, 58, 0.8);
}

@media (max-width: 1199px) {
  .occupation {
    display: none;
  }
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #f5f4fa;
}
@media (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team-title {
  margin-bottom: 50px;
  font-size: 28px;
  text-align: center;
}
@media (max-width: 1200px) {
  .team-title {
    font-size: 36px;
  }
}
.team-name {
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
}
@media (min-width: 768px) {
  .team-name {
    font-size: 16px;
  }
}
.team .hero-list-child {
  padding-bottom: 30px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 4px 4px;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

.socials-list {
  display: flex;
  margin-top: 16px;
  gap: 10px;
  justify-content: center;
}

.socials-list-item {
  width: 44px;
  height: 44px;
}

.socials-list_icon {
  width: 20px;
  fill: currentColor;
  /* fill: #757575; */
}

.socials-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list-link:hover {
  background-color: #2196f3;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .socials-box {
    margin-right: 93px;
  }
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.customers-title {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}
@media (min-width: 1200px) {
  .customers-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.customers-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
@media (max-width: 1199px) {
  .customers-list {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .customers-list-item .clients__item {
    width: calc((100% - 30px) / 2);
  }
}
.customers-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-link:hover {
  color: #2196f3;
  border: 1px solid #2196f3;
}
.customers-list_icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-adress {
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contacts {
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .footer-contacts-box {
    margin-right: 70px;
  }
}
.footer-socials-text {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}
.footer-socials-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-list-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-link:hover {
  background-color: #2196f3;
}
.footer-socials-list_icon {
  fill: #fff;
  width: 20px;
  height: 20px;
}
@media (min-width: 1200px) {
  .footer-form {
    display: flex;
  }
}

.link-footer-contacts {
  display: block;
}

.link-footer-contacts-mailto {
  margin-bottom: 9px;
  display: block;
}

.linkfooter-logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #fff;
}

.logo-designe {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-bottom: 20px;
}

.footer-box {
  display: flex;
}
@media (max-width: 767px) {
  .footer-box {
    flex-wrap: wrap;
  }
}
@media (max-width: 1199px) {
  .footer-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 60px 106px;
  }
}

.form-text {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 1199px) {
  .form-text {
    display: flex;
    justify-content: center;
  }
}

.form-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
}
@media (max-width: 1199px) {
  .form-btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.form-img {
  margin-left: 10px;
}

.form-input {
  margin-right: 12px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
@media (max-width: 1199px) {
  .form-input {
    margin-bottom: 20px;
  }
}

.form-input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.portfolio-hero {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media (max-width: 320) {
  .portfolio-hero {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.portfolio-hero-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}
.portfolio-hero-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-hero-btn {
  border: 1px solid transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
}
.portfolio-hero-list-nav {
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
}
.portfolio-hero-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .portfolio-hero-list {
    display: block;
  }
}
.portfolio-hero-list-nav-child {
  margin-right: 8px;
}
.portfolio-hero-btn:hover, .portfolio-hero-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.portfolio-hero-list-child {
  position: relative;
  border: 1px solid #eee;
}
@media (max-width: 767px) {
  .portfolio-hero-list-child {
    width: 450px;
  }
}
.portfolio-hero-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}
.portfolio-hero .portfolio-box {
  padding: 20px 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  overflow-y: auto;
  visibility: visible;
  transition: opacity 500ms ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  border-radius: 4px;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(1);
  min-width: 320px;
  transition: transform 300ms, color 300ms;
}
@media screen and (max-width: 767px) {
  .modal {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal-list_icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  width: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.modal-field {
  position: relative;
  margin-bottom: 10px;
}
.modal-input {
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.modal-textarea {
  resize: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
}
.modal-field:focus-within .modal-list_icon {
  fill: #2196f3;
}
.modal-field:focus-within .modal-input {
  border: 1px solid #2196f3;
}
.modal-btn {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding: 10px 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #188ce8;
  width: 200px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: 0;
}
.modal-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.close-btn:hover .modal-list_icon-btn {
  fill: #188ce8;
}

.close-btn {
  top: 8px;
  right: 8px;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-span {
  margin-top: 20px;
  margin-left: 7px;
  width: 400px;
  height: 24px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy-link {
  color: #2196f3;
  text-decoration: underline;
}

.thumb {
  position: relative;
  width: 370px;
  height: 294px;
  margin: 0 auto;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}

.thumb:hover .overlay {
  transform: translatey(0);
}

.overlay p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
}

.menu-btn {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  transform: translateX(100%);
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.menu-container.is-open {
  transform: translateX(0%);
}

.mob-menu-list {
  gap: 32px;
  margin-bottom: 302px;
}

.mob-menu-contacts-list {
  gap: 32px;
  margin-bottom: 64px;
}

.mob-menu-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-contacts-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-menu-link:hover,
.mob-menu-contacts-link:hover,
.mob-menu-link:focus,
.mob-menu-contacts-link:focus {
  color: #2196f3;
}

.mob-menu-contacts-link:focus,
.mob-menu-contacts-link:focus {
  color: #2196f3;
  font-size: 34px;
}

.mob-menu-program-list {
  display: flex;
  gap: 20px;
}

.mob-menu-program-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu-container .menu-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #212121;
}

.menu-container .menu-btn:hover {
  color: #2196f3;
}

.burger-menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */