
    $main-heading-color: #212121;
    $buttons-background-color: #5ab3fc;
    $buttons-text-color: #ffffff;
    $main-background-color: #f5f4fa;
    $main-text-color: #212121;
    $secondary-text-color: #757575;
    $logo-color: #000000;
    $nav-buttons-background-color: #f5f4fa;
    $main-background-color: #2f303a;
    $footer-contrast-color: rgba (255, 255, 255, 0.6);
