.features {
  padding-top: 60px;
  padding-bottom: 60px;
  @media (min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
   
  }
  &-header {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
  }
  & .hero-list-child{
    @media (min-width:768px) {
      width: 354px;
    }
    @media (min-width:1200px) {
      width: 270px;
    }
  }
  & .hero-list-child::before {
    display: block;
    content: "";
    background-image: url("../images/antenna.svg");
    height: 120px;
    background-color: #f5f4fa;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }
  & .hero-list-child.anttenna::before {
    background-image: url("../images/antenna.svg");
   
  }
  & .hero-list-child.clock::before {
    background-image: url("../images/clock.svg");
    
    }
  & .hero-list-child.diagram::before {
    background-image: url("../images/diagram.svg");
    
  }
  & .hero-list-child.astronaut::before {
    background-image: url("../images/astronaut.svg");
    
  }
}
.hero-list {
  
  @media (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  } 
}