.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
  }
  .footer-logo {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
  }
  .footer-logo {
    margin-bottom: 20px;
    color: #ffffff;
  }
  .footer-adress {
    margin-bottom: 9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .link-footer-contacts {
    display: block;
  }
  .link-footer-contacts-mailto {
    margin-bottom: 9px;
    display: block;
  }
  .footer-contacts {
    margin-bottom: 9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-contacts-box {
    margin-right: 70px;
  }
  .footer-socials-text {
    margin-bottom: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #ffffff;
  }
  .footer-socials-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .footer-list-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .footer-list-link:hover {
    background-color: #2196f3;
  }
  .footer-socials-list_icon {
    fill: #fff;
    width: 20px;
    height: 20px;
  }
  .footer-form {
    display: flex;
  }