.header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .logo-designe {
    color: #2196f3;
  }
  .contacts-list {
    align-items: center;
    gap: 50px;
    margin-left: auto;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .header-logo {
    margin-left: auto;
    margin-right: 93px;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
  }
  .header-logo {
    color: #000000;
  }
  .header-list {
    align-items: center;
    gap: 50px;
  }
  .header-nav-link,
  .header-contacts-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
    transition: transform 250ms  cubic-bezier(0.4, 0, 0.2, 1); ;
    
  }
  .header-contacts-link {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .header-nav-link.curent::after{
    content: "";
    background-color:#2196F3 ;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    display: block;
    margin-top: 28px;
    position: absolute;
    }
    .header-nav-link.curent{
      color: #2196F3;
    }
  .header-nav-link:hover,
  .header-contacts-link:hover,
  .header-nav-link:focus,
  .header-contacts-link:focus {
    color: #2196f3;
    
  }
  .header-contacts-link {
    color: #757575;
  }
  .header-nav-link {
    color: #212121;
  }