.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/mobile-hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: #2f303a;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../images/mobile-hero-bg2x.jpg);
  }
  @media (min-width: 768px) {
    background-image: url("../images/tablet-hero-bg.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image:linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ), url(../images/tablet-hero-bg2x.jpg);
    }
  }
  @media (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image:linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url("../images/hero-bg.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero-bg2x.jpg);
    }
  }
  &-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 162%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    @media (min-width: 1200px) {
      font-size: 44px;
      line-height: 136%;
    }
  }
  &-btn {
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    
    
  }
  &-title {
    color: #ffffff;
  }
  &-btn {
    color: #ffffff;
    background-color: #5ab3fc;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    
  }
  @keyframes bouncing {
    0% {
      bottom: 0;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
 
    100% {
      bottom: 30px;
      box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
    }
  }
 
  .btn {
    animation: bouncing 0.5s cubic-bezier(0.1, 0.25, 0.1, 1) 0s infinite alternate
      both;
  }
}
