body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
*,
*::before,
*::after {
box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

address {
  font-style: normal;
}
.flex {
  display: flex;
}
